@import url('https://fonts.cdnfonts.com/css/lato-light');

* {
  margin: 0%;
  padding: 0%;
  font-family: 'lato', sans-serif;
  color: white;
}

body {
  background: black;
  padding: 5% 5%;
}

header {
  display: flex;
  align-items: center;
}

input {
  background-color: #060606;
  padding-left: 10px;
  margin: 3vh 0;
  height: 35px;
  box-shadow: 3px 3px 6px #256eff;
}

button {
  height: 35px;
  padding: 0% 5px;
  box-shadow: 3px 3px 6px #f84f60;
}

h2,
h1 {
  color: white;
  text-shadow: 3px 3px 10px #256eff, 3px -3px 10px #256eff, -3px 3px 10px #256eff, -3px 3px 10px #256eff;
}

.container {
  margin: 10vh 6%;
  height: 50vh;
  display: flex;
}

.scores_form {
  display: block;
  width: 30%;
  margin: 0% 5%;
}

.scores_form h2 {
  margin-bottom: 6vh;
}

.scores {
  width: 60%;
  margin-bottom: 5vh;
}

@media (max-width: 778px) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .scores_form {
    width: 80%;
    margin: 0%;
  }

  .scores {
    width: 80%;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6vh;
}

input,
form button,
#refresh {
  background-color: #060606;
  border: none;
  border-radius: 10px;
  font-weight: 900;
}

.shadow {
  padding: 18px;
  border-radius: 20px;
  box-shadow: inset 0 0 12px 12px #0b0a0a, inset 0 0 3px 2px #060606;
  background: linear-gradient(to right, #256eff, #f84f60);
}

.scores ul {
  list-style: none;
  border-radius: 4px;
  padding: 3px;
  height: 44vh;
  overflow: hidden;
  overflow-y: scroll;
}

li {
  padding: 10px;
  margin-top: 2px;
  border-radius: 10px;
  color: #f84f60;
  font-weight: 600;
  background-color: black;
}

form button {
  align-self: end;
}

.success_msg {
  color: #256eff;
  content: 'new score added successfully!';
}

.error_msg {
  color: #f84f60;
}

.show_msg {
  display: flex;
}

.fa-trophy {
  color: #256eff;
  font-size: x-large;
  margin-right: 20px;
}

.fa-trophy:hover {
  font-size: xx-large;
  margin-right: 10px;
}

.fa-medal,
.fa-sync,
.fa-plus {
  margin-left: 5px;
  color: #256eff;
}

.gold {
  color: yellow;
  text-shadow: 3px 3px 50px yellow, 3px -3px 50px yellow, -3px 3px 50px yellow, -3px 3px 50px yellow;
}

.argent {
  color: gainsboro;
  text-shadow: 3px 3px 50px gainsboro, 3px -3px 50px gainsboro, -3px 3px 50px gainsboro, -3px 3px 50px gainsboro;
}

.bronze {
  color: chocolate;
  text-shadow: 3px 3px 50px chocolate, 3px -3px 50px chocolate, -3px 3px 50px chocolate, -3px 3px 50px chocolate;
}

.score_row {
  display: flex;
  justify-content: space-between;
}

/* #refresh {
  background-color: #060606;
  margin-right: 1em;
  padding: 5px;
  border: none;
  border-radius: 100%;
  box-shadow: 3px 2px 3px 2px #256EFF ,-3px -2px 6px 2px #256EFF;
} */
